.top {
  margin-bottom: 3rem;
}

.contentTop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.contentBottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media screen and (max-width: 968px) {
  .contentTop,
  .contentBottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .headeing {
    text-align: center;
  }

  .contentTop,
  .contentBottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
