.layout {
  z-index: 1000;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: transparent;
  
}

.green3 {
  border-color: var(--green3);
}

.tan {
  border-color: var(--tan);
}

@media screen and (max-width: 568px) {
  .layout {
    padding-right: 10px;
    padding-left: 10px;
  }
}
