.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}

.left {
  border-right: 1px solid var(--border);
  height: 100%;
  width: 100%;
}

.imgsContainer {
  height: 100%;
}

.right {
  padding: 2rem;
  padding-top: 3rem;
  width: 100%;
  height: 100%;
}

.productName {
  font-size: 5.5rem;
  letter-spacing: -2px;
}

.leftContent {
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
