.form {
  width: 100%;
  margin-top: 3rem;
}

.namesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
}

.labelInputBox {
  display: flex;
  flex-direction: column;
  /* gap: 0.3rem; */
  margin-bottom: 1.5rem;
  flex: 1;
  width: 100%;
}

.labelInputBox label {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--pink);
  font-weight: 600;
  opacity: 0.8;
  margin-bottom: 0.5rem;
}

.labelInputBox input,
.labelInputBox textarea {
  height: 40px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--border);
  background-color: transparent;
  color: var(--black);
  padding: 1rem;
  width: 100%;
  font-weight: 400;
}

.labelInputBox span {
  font-size: 1.4rem;
  color: var(--blue);
}

.labelInputBox textarea {
  height: 130px;
  resize: vertical;
}

.error {
  color: red !important;
  margin-top: 0.5rem;
}

.btnContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 3rem;
}

.errorMessage {
  color: var(--red);
  font-weight: 500;
  margin-top: 1rem;
}
