.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-top: 3rem;
}

.parent {
  background-color: var(--gray);
  margin-top: 5rem;
}

.bottomii {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  margin: -5rem 0rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.icon {
  opacity: 0.6;
}

@media screen and (max-width: 968px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 668px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 968px) {
  .heading {
    text-align: center;
  }

  .bottomii {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  .box {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 568px) {
  .bottomii {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    margin: 0rem;
  }

  .box {
    background-color: var(--white);
    border-radius: 15px;
    padding: 10rem;
    margin-bottom: 0rem;
    width: 100%;
  }
}
